@import 'lib/flow/flow.styl';

MakeClass( flow-button, $flow-button );
MakeClass( flow-info-button, $flow-info-button );
MakeClass( flow-success-button, $flow-success-button );
MakeClass( flow-error-button, $flow-error-button );
