// -- BLOCKS

$primary-font-family = @block
{
    primary-font-family: var( --primary-font-family );
}

$secondary-font-family = @block
{
    secondary-font-family: var( --secondary-font-family );
}

$tertiary-font-family = @block
{
    tertiary-font-family: var( --tertiary-font-family );
}

$mono-font-family = @block
{
    mono-font-family: var( --mono-font-family );
}
