// -- ELEMENTS

:root
{
    --primary-font-family: PrimaryFontFamily;
    --secondary-font-family: SecondaryFontFamily;
    --tertiary-font-family: TertiaryFontFamily;
    --mono-font-family: MonoFontFamily;

    --base-dim-color: darken( BaseColor, 60% );
    --base-dark-color: darken( BaseColor, 40% );
    --base-shade-color: darken( BaseColor, 20% );
    --base-color: BaseColor;
    --base-tint-color: lighten( BaseColor, 20% );
    --base-light-color: lighten( BaseColor, 40% );
    --base-pale-color: lighten( BaseColor, 60% );

    --base-dim-contrast-color: WhiteColor;
    --base-dark-contrast-color: WhiteColor;
    --base-shade-contrast-color: WhiteColor;
    --base-contrast-color: BlackColor;
    --base-tint-contrast-color: BlackColor;
    --base-light-contrast-color: BlackColor;
    --base-contrast-color: BlackColor;

    --neutral-dim-color: darken( NeutralColor, 60% );
    --neutral-shade-color: darken( NeutralColor, 40% );
    --neutral-dark-color: darken( NeutralColor, 20% );
    --neutral-color: NeutralColor;
    --neutral-light-color: lighten( NeutralColor, 20% );
    --neutral-tint-color: lighten( NeutralColor, 40% );
    --neutral-pale-color: lighten( NeutralColor, 60% );

    --base-dim-contrast-color: WhiteColor;
    --base-dark-contrast-color: WhiteColor;
    --base-shade-contrast-color: WhiteColor;
    --base-contrast-color: BlackColor;
    --base-tint-contrast-color: BlackColor;
    --base-light-contrast-color: BlackColor;
    --base-contrast-color: BlackColor;

    --primary-dim-color: darken( PrimaryColor, 60% );
    --primary-dark-color: darken( PrimaryColor, 40% );
    --primary-shade-color: darken( PrimaryColor, 20% );
    --primary-color: PrimaryColor;
    --primary-tint-color: lighten( PrimaryColor, 20% );
    --primary-light-color: lighten( PrimaryColor, 40% );
    --primary-pale-color: lighten( PrimaryColor, 60% );

    --base-dim-contrast-color: WhiteColor;
    --base-dark-contrast-color: WhiteColor;
    --base-shade-contrast-color: WhiteColor;
    --base-contrast-color: BlackColor;
    --base-tint-contrast-color: BlackColor;
    --base-light-contrast-color: BlackColor;
    --base-contrast-color: BlackColor;

    --secondary-dim-color: darken( SecondaryColor, 60% );
    --secondary-dark-color: darken( SecondaryColor, 40% );
    --secondary-shade-color: darken( SecondaryColor, 20% );
    --secondary-color: SecondaryColor;
    --secondary-tint-color: lighten( SecondaryColor, 20% );
    --secondary-light-color: lighten( SecondaryColor, 40% );
    --secondary-pale-color: lighten( SecondaryColor, 60% );

    --base-dim-contrast-color: WhiteColor;
    --base-dark-contrast-color: WhiteColor;
    --base-shade-contrast-color: WhiteColor;
    --base-contrast-color: BlackColor;
    --base-tint-contrast-color: BlackColor;
    --base-light-contrast-color: BlackColor;
    --base-contrast-color: BlackColor;

    --tertiary-dim-color: darken( TertiaryColor, 60% );
    --tertiary-dark-color: darken( TertiaryColor, 40% );
    --tertiary-shade-color: darken( TertiaryColor, 20% );
    --tertiary-color: TertiaryColor;
    --tertiary-tint-color: lighten( TertiaryColor, 20% );
    --tertiary-light-color: lighten( TertiaryColor, 40% );
    --tertiary-pale-color: lighten( TertiaryColor, 60% );

    --base-dim-contrast-color: WhiteColor;
    --base-dark-contrast-color: WhiteColor;
    --base-shade-contrast-color: WhiteColor;
    --base-contrast-color: BlackColor;
    --base-tint-contrast-color: BlackColor;
    --base-light-contrast-color: BlackColor;
    --base-contrast-color: BlackColor;

    --accent-dim-color: darken( AccentColor, 60% );
    --accent-dark-color: darken( AccentColor, 40% );
    --accent-shade-color: darken( AccentColor, 20% );
    --accent-color: AccentColor;
    --accent-tint-color: lighten( AccentColor, 20% );
    --accent-light-color: lighten( AccentColor, 40% );
    --accent-pale-color: lighten( AccentColor, 60% );

    --base-dim-contrast-color: WhiteColor;
    --base-dark-contrast-color: WhiteColor;
    --base-shade-contrast-color: WhiteColor;
    --base-contrast-color: BlackColor;
    --base-tint-contrast-color: BlackColor;
    --base-light-contrast-color: BlackColor;
    --base-contrast-color: BlackColor;

    --info-dim-color: darken( InfoColor, 60% );
    --info-dark-color: darken( InfoColor, 40% );
    --info-shade-color: darken( InfoColor, 20% );
    --info-color: InfoColor;
    --info-tint-color: lighten( InfoColor, 20% );
    --info-light-color: lighten( InfoColor, 40% );
    --info-pale-color: lighten( InfoColor, 60% );

    --base-dim-contrast-color: WhiteColor;
    --base-dark-contrast-color: WhiteColor;
    --base-shade-contrast-color: WhiteColor;
    --base-contrast-color: BlackColor;
    --base-tint-contrast-color: BlackColor;
    --base-light-contrast-color: BlackColor;
    --base-contrast-color: BlackColor;

    --success-dim-color : darken( SuccessColor, 60% );
    --success-dark-color : darken( SuccessColor, 40% );
    --success-shade-color : darken( SuccessColor, 20% );
    --success-color : SuccessColor;
    --success-tint-color : lighten( SuccessColor, 20% );
    --success-light-color : lighten( SuccessColor, 40% );
    --success-pale-color : lighten( SuccessColor, 60% );

    --base-dim-contrast-color: WhiteColor;
    --base-dark-contrast-color: WhiteColor;
    --base-shade-contrast-color: WhiteColor;
    --base-contrast-color: BlackColor;
    --base-tint-contrast-color: BlackColor;
    --base-light-contrast-color: BlackColor;
    --base-contrast-color: BlackColor;

    --warning-dim-color: darken( WarningColor, 60% );
    --warning-dark-color: darken( WarningColor, 40% );
    --warning-shade-color: darken( WarningColor, 20% );
    --warning-color: WarningColor;
    --warning-tint-color: lighten( WarningColor, 20% );
    --warning-light-color: lighten( WarningColor, 40% );
    --warning-pale-color: lighten( WarningColor, 60% );

    --base-dim-contrast-color: WhiteColor;
    --base-dark-contrast-color: WhiteColor;
    --base-shade-contrast-color: WhiteColor;
    --base-contrast-color: BlackColor;
    --base-tint-contrast-color: BlackColor;
    --base-light-contrast-color: BlackColor;
    --base-contrast-color: BlackColor;

    --error-dim-color: darken( ErrorColor, 60% );
    --error-dark-color: darken( ErrorColor, 40% );
    --error-shade-color: darken( ErrorColor, 20% );
    --error-color: ErrorColor;
    --error-tint-color: lighten( ErrorColor, 20% );
    --error-light-color: lighten( ErrorColor, 40% );
    --error-pale-color: lighten( ErrorColor, 60% );

    --base-dim-contrast-color: WhiteColor;
    --base-dark-contrast-color: WhiteColor;
    --base-shade-contrast-color: WhiteColor;
    --base-contrast-color: BlackColor;
    --base-tint-contrast-color: BlackColor;
    --base-light-contrast-color: BlackColor;
    --base-contrast-color: BlackColor;

    --tiny-button-border-radius: TinyButtonBorderRadius;
    --small-button-border-radius: SmallButtonBorderRadius;
    --button-border-radius: ButtonBorderRadius;
    --large-button-border-radius: LargeButtonBorderRadius;
    --big-button-border-radius: BigButtonBorderRadius;
    --huge-button-border-radius: HugeButtonBorderRadius;
    --pill-button-border-radius: PillButtonBorderRadius;

    --tiny-button-padding: TinyButtonPadding;
    --small-button-padding: SmallButtonPadding;
    --button-padding: ButtonPadding;
    --large-button-padding: LargeButtonPadding;
    --big-button-padding: BigButtonPadding;
    --huge-button-padding: HugeButtonPadding;
}
