// -- BLOCKS

$tiny-button-border-radius = @block
{
    tiny-button-border-radius: var( --tiny-button-border-radius );
}

$small-button-border-radius = @block
{
    small-button-border-radius: var( --small-button-border-radius );
}

$button-border-radius = @block
{
    button-border-radius: var( --button-border-radius );
}

$large-button-border-radius = @block
{
    large-button-border-radius: var( --large-button-border-radius );
}

$big-button-border-radius = @block
{
    big-button-border-radius: var( --big-button-border-radius );
}

$huge-button-border-radius = @block
{
    huge-button-border-radius: var( --huge-button-border-radius );
}

$pill-button-border-radius = @block
{
    pill-button-border-radius: var( --pill-button-border-radius );
}

$tiny-button-padding = @block
{
    tiny-button-padding: var( --tiny-button-padding );
}

$small-button-padding = @block
{
    small-button-padding: var( --small-button-padding );
}

$button-padding = @block
{
    button-padding: var( --button-padding );
}

$large-button-padding = @block
{
    large-button-padding: var( --large-button-padding );
}

$big-button-padding = @block
{
    big-button-padding: var( --big-button-padding );
}

$huge-button-padding = @block
{
    huge-button-padding: var( --huge-button-padding );
}

$flow-button = @block
{
    width: auto;
    border-radius: var( --button-border-radius );
    padding: var( --button-padding );

    display: inline-block;

    font-size: var( --button-font-size );
}

$flow-info-button = @block
{
    {$flow-button}

    background-color: var( --info-color );

    color: var( --info-contrast-color );
}

$flow-success-button = @block
{
    {$flow-button}

    background-color: var( --success-color );

    color: var( --success-contrast-color );
}

$flow-warning-button = @block
{
    {$flow-button}

    background-color: var( --warning-color );

    color: var( --warning-contrast-color );
}

$flow-error-button = @block
{
    {$flow-button}

    background-color: var( --error-color );

    color: var( --error-contrast-color );
}

