// -- CONSTANTS

PrimaryFontFamily = sans-serif;
SecondaryFontFamily = sans-serif;
TertiaryFontFamily = sans-serif;
MonoFontFamily = monospace;

BlackColor = #000000;
WhiteColor = #FFFFFF;

BaseColor = #FFFFFF;
NeutralColor = #808080;
PrimaryColor = #2AB4E7;
SecondaryColor = #2AB4E7;
TertiaryColor = #2AB4E7;
AccentColor = #2AB4E7;
InfoColor = #3ABFF8;
SuccessColor = #36D399;
WarningColor = #FBBD23;
ErrorColor = #F87272;

TinyButtonFontSize = 1rem;
SmallButtonFontSize = 1rem;
ButtonFontSize = 1rem;
LargeButtonFontSize = 1rem;
BigButtonFontSize = 1rem;
HugeButtonFontSize = 1rem;

TinyButtonBorderRadius = 0.5rem;
SmallButtonBorderRadius = 0.5rem;
ButtonBorderRadius = 0.5rem;
LargeButtonBorderRadius = 0.5rem;
BigButtonBorderRadius = 0.5rem;
HugeButtonBorderRadius = 0.5rem;
PillButtonBorderRadius = 100vmax;

TinyButtonPadding = 0.125rem 0.25rem;
SmallButtonPadding = 0.25rem 0.5rem;
ButtonPadding = 0.5rem 1rem;
LargeButtonPadding = 1rem 2rem;
BigButtonPadding = 1.5rem 3rem;
HugeButtonPadding = 2rem 4rem;
