// -- ELEMENTS

:root
{
    --primary-font-family: PrimaryFontFamily;
    --secondary-font-family: SecondaryFontFamily;
    --tertiary-font-family: TertiaryFontFamily;
    --mono-font-family: MonoFontFamily;

    --base-dim-color: darken( BaseColor, 60% );
    --base-dark-color: darken( BaseColor, 40% );
    --base-shade-color: darken( BaseColor, 20% );
    --base-color: BaseColor;
    --base-tint-color: lighten( BaseColor, 20% );
    --base-light-color: lighten( BaseColor, 40% );
    --base-pale-color: lighten( BaseColor, 60% );
    --base-contrast-color: BlackColor;

    --neutral-dim-color: darken( NeutralColor, 60% );
    --neutral-shade-color: darken( NeutralColor, 40% );
    --neutral-dark-color: darken( NeutralColor, 20% );
    --neutral-color: NeutralColor;
    --neutral-light-color: lighten( NeutralColor, 20% );
    --neutral-tint-color: lighten( NeutralColor, 40% );
    --neutral-pale-color: lighten( NeutralColor, 60% );
    --neutral-contrast-color: WhiteColor;

    --primary-dim-color: darken( PrimaryColor, 60% );
    --primary-dark-color: darken( PrimaryColor, 40% );
    --primary-shade-color: darken( PrimaryColor, 20% );
    --primary-color: PrimaryColor;
    --primary-tint-color: lighten( PrimaryColor, 20% );
    --primary-light-color: lighten( PrimaryColor, 40% );
    --primary-pale-color: lighten( PrimaryColor, 60% );
    --primary-contrast-color: BlackColor;

    --secondary-dim-color: darken( SecondaryColor, 60% );
    --secondary-dark-color: darken( SecondaryColor, 40% );
    --secondary-shade-color: darken( SecondaryColor, 20% );
    --secondary-color: SecondaryColor;
    --secondary-tint-color: lighten( SecondaryColor, 20% );
    --secondary-light-color: lighten( SecondaryColor, 40% );
    --secondary-pale-color: lighten( SecondaryColor, 60% );
    --secondary-contrast-color: BlackColor;

    --tertiary-dim-color: darken( TertiaryColor, 60% );
    --tertiary-dark-color: darken( TertiaryColor, 40% );
    --tertiary-shade-color: darken( TertiaryColor, 20% );
    --tertiary-color: TertiaryColor;
    --tertiary-tint-color: lighten( TertiaryColor, 20% );
    --tertiary-light-color: lighten( TertiaryColor, 40% );
    --tertiary-pale-color: lighten( TertiaryColor, 60% );
    --tertiary-contrast-color: BlackColor;

    --accent-dim-color: darken( AccentColor, 60% );
    --accent-dark-color: darken( AccentColor, 40% );
    --accent-shade-color: darken( AccentColor, 20% );
    --accent-color: AccentColor;
    --accent-tint-color: lighten( AccentColor, 20% );
    --accent-light-color: lighten( AccentColor, 40% );
    --accent-pale-color: lighten( AccentColor, 60% );
    --accent-contrast-color: BlackColor;

    --info-dim-color: darken( InfoColor, 60% );
    --info-dark-color: darken( InfoColor, 40% );
    --info-shade-color: darken( InfoColor, 20% );
    --info-color: InfoColor;
    --info-tint-color: lighten( InfoColor, 20% );
    --info-light-color: lighten( InfoColor, 40% );
    --info-pale-color: lighten( InfoColor, 60% );
    --info-contrast-color: BlackColor;

    --success-dim-color : darken( SuccessColor, 60% );
    --success-dark-color : darken( SuccessColor, 40% );
    --success-shade-color : darken( SuccessColor, 20% );
    --success-color : SuccessColor;
    --success-tint-color : lighten( SuccessColor, 20% );
    --success-light-color : lighten( SuccessColor, 40% );
    --success-pale-color : lighten( SuccessColor, 60% );
    --success-contrast-color : BlackColor;

    --warning-dim-color: darken( WarningColor, 60% );
    --warning-dark-color: darken( WarningColor, 40% );
    --warning-shade-color: darken( WarningColor, 20% );
    --warning-color: WarningColor;
    --warning-tint-color: lighten( WarningColor, 20% );
    --warning-light-color: lighten( WarningColor, 40% );
    --warning-pale-color: lighten( WarningColor, 60% );
    --warning-contrast-color: BlackColor;

    --error-dim-color: darken( ErrorColor, 60% );
    --error-dark-color: darken( ErrorColor, 40% );
    --error-shade-color: darken( ErrorColor, 20% );
    --error-color: ErrorColor;
    --error-tint-color: lighten( ErrorColor, 20% );
    --error-light-color: lighten( ErrorColor, 40% );
    --error-pale-color: lighten( ErrorColor, 60% );
    --error-contrast-color: BlackColor;

    --tiny-button-border-radius: TinyButtonBorderRadius;
    --small-button-border-radius: SmallButtonBorderRadius;
    --button-border-radius: ButtonBorderRadius;
    --large-button-border-radius: LargeButtonBorderRadius;
    --big-button-border-radius: BigButtonBorderRadius;
    --huge-button-border-radius: HugeButtonBorderRadius;
    --pill-button-border-radius: PillButtonBorderRadius;

    --tiny-button-padding: TinyButtonPadding;
    --small-button-padding: SmallButtonPadding;
    --button-padding: ButtonPadding;
    --large-button-padding: LargeButtonPadding;
    --big-button-padding: BigButtonPadding;
    --huge-button-padding: HugeButtonPadding;
}

// -- BLOCKS

$primary-font-family = @block
{
    primary-font-family: var( --primary-font-family );
}

$secondary-font-family = @block
{
    secondary-font-family: var( --secondary-font-family );
}

$tertiary-font-family = @block
{
    tertiary-font-family: var( --tertiary-font-family );
}

$mono-font-family = @block
{
    mono-font-family: var( --mono-font-family );
}

$base-dim-color = @block
{
    base-dim-color: var( --base-dim-color );
}

$base-dark-color = @block
{
    base-dark-color: var( --base-dark-color );
}

$base-shade-color = @block
{
    base-shade-color: var( --base-shade-color );
}

$base-color = @block
{
    base-color: var( --base-color );
}

$base-tint-color = @block
{
    base-tint-color: var( --base-tint-color );
}

$base-light-color = @block
{
    base-light-color: var( --base-light-color );
}

$base-pale-color = @block
{
    base-pale-color: var( --base-pale-color );
}

$base-contrast-color = @block
{
    base-contrast-color: var( --base-contrast-color );
}

$neutral-dim-color = @block
{
    neutral-dim-color: var( --neutral-dim-color );
}

$neutral-shade-color = @block
{
    neutral-shade-color: var( --neutral-shade-color );
}

$neutral-dark-color = @block
{
    neutral-dark-color: var( --neutral-dark-color );
}

$neutral-color = @block
{
    neutral-color: var( --neutral-color );
}

$neutral-light-color = @block
{
    neutral-light-color: var( --neutral-light-color );
}

$neutral-tint-color = @block
{
    neutral-tint-color: var( --neutral-tint-color );
}

$neutral-pale-color = @block
{
    neutral-pale-color: var( --neutral-pale-color );
}

$neutral-contrast-color = @block
{
    neutral-contrast-color: var( --neutral-contrast-color );
}

$primary-dim-color = @block
{
    primary-dim-color: var( --primary-dim-color );
}

$primary-dark-color = @block
{
    primary-dark-color: var( --primary-dark-color );
}

$primary-shade-color = @block
{
    primary-shade-color: var( --primary-shade-color );
}

$primary-color = @block
{
    primary-color: var( --primary-color );
}

$primary-tint-color = @block
{
    primary-tint-color: var( --primary-tint-color );
}

$primary-light-color = @block
{
    primary-light-color: var( --primary-light-color );
}

$primary-pale-color = @block
{
    primary-pale-color: var( --primary-pale-color );
}

$primary-contrast-color = @block
{
    primary-contrast-color: var( --primary-contrast-color );
}

$secondary-dim-color = @block
{
    secondary-dim-color: var( --secondary-dim-color );
}

$secondary-dark-color = @block
{
    secondary-dark-color: var( --secondary-dark-color );
}

$secondary-shade-color = @block
{
    secondary-shade-color: var( --secondary-shade-color );
}

$secondary-color = @block
{
    secondary-color: var( --secondary-color );
}

$secondary-tint-color = @block
{
    secondary-tint-color: var( --secondary-tint-color );
}

$secondary-light-color = @block
{
    secondary-light-color: var( --secondary-light-color );
}

$secondary-pale-color = @block
{
    secondary-pale-color: var( --secondary-pale-color );
}

$secondary-contrast-color = @block
{
    secondary-contrast-color: var( --secondary-contrast-color );
}

$tertiary-dim-color = @block
{
    tertiary-dim-color: var( --tertiary-dim-color );
}

$tertiary-dark-color = @block
{
    tertiary-dark-color: var( --tertiary-dark-color );
}

$tertiary-shade-color = @block
{
    tertiary-shade-color: var( --tertiary-shade-color );
}

$tertiary-color = @block
{
    tertiary-color: var( --tertiary-color );
}

$tertiary-tint-color = @block
{
    tertiary-tint-color: var( --tertiary-tint-color );
}

$tertiary-light-color = @block
{
    tertiary-light-color: var( --tertiary-light-color );
}

$tertiary-pale-color = @block
{
    tertiary-pale-color: var( --tertiary-pale-color );
}

$tertiary-contrast-color = @block
{
    tertiary-contrast-color: var( --tertiary-contrast-color );
}

$accent-dim-color = @block
{
    accent-dim-color: var( --accent-dim-color );
}

$accent-dark-color = @block
{
    accent-dark-color: var( --accent-dark-color );
}

$accent-shade-color = @block
{
    accent-shade-color: var( --accent-shade-color );
}

$accent-color = @block
{
    accent-color: var( --accent-color );
}

$accent-tint-color = @block
{
    accent-tint-color: var( --accent-tint-color );
}

$accent-light-color = @block
{
    accent-light-color: var( --accent-light-color );
}

$accent-pale-color = @block
{
    accent-pale-color: var( --accent-pale-color );
}

$accent-contrast-color = @block
{
    accent-contrast-color: var( --accent-contrast-color );
}

$info-dim-color = @block
{
    info-dim-color: var( --info-dim-color );
}

$info-dark-color = @block
{
    info-dark-color: var( --info-dark-color );
}

$info-shade-color = @block
{
    info-shade-color: var( --info-shade-color );
}

$info-color = @block
{
    info-color: var( --info-color );
}

$info-tint-color = @block
{
    info-tint-color: var( --info-tint-color );
}

$info-light-color = @block
{
    info-light-color: var( --info-light-color );
}

$info-pale-color = @block
{
    info-pale-color: var( --info-pale-color );
}

$info-contrast-color = @block
{
    info-contrast-color: var( --info-contrast-color );
}

$success-dim-color  = @block
{
    success-dim-color : var( --success-dim-color  );
}

$success-dark-color  = @block
{
    success-dark-color : var( --success-dark-color  );
}

$success-shade-color  = @block
{
    success-shade-color : var( --success-shade-color  );
}

$success-color  = @block
{
    success-color : var( --success-color  );
}

$success-tint-color  = @block
{
    success-tint-color : var( --success-tint-color  );
}

$success-light-color  = @block
{
    success-light-color : var( --success-light-color  );
}

$success-pale-color  = @block
{
    success-pale-color : var( --success-pale-color  );
}

$success-contrast-color  = @block
{
    success-contrast-color : var( --success-contrast-color  );
}

$warning-dim-color = @block
{
    warning-dim-color: var( --warning-dim-color );
}

$warning-dark-color = @block
{
    warning-dark-color: var( --warning-dark-color );
}

$warning-shade-color = @block
{
    warning-shade-color: var( --warning-shade-color );
}

$warning-color = @block
{
    warning-color: var( --warning-color );
}

$warning-tint-color = @block
{
    warning-tint-color: var( --warning-tint-color );
}

$warning-light-color = @block
{
    warning-light-color: var( --warning-light-color );
}

$warning-pale-color = @block
{
    warning-pale-color: var( --warning-pale-color );
}

$warning-contrast-color = @block
{
    warning-contrast-color: var( --warning-contrast-color );
}

$error-dim-color = @block
{
    error-dim-color: var( --error-dim-color );
}

$error-dark-color = @block
{
    error-dark-color: var( --error-dark-color );
}

$error-shade-color = @block
{
    error-shade-color: var( --error-shade-color );
}

$error-color = @block
{
    error-color: var( --error-color );
}

$error-tint-color = @block
{
    error-tint-color: var( --error-tint-color );
}

$error-light-color = @block
{
    error-light-color: var( --error-light-color );
}

$error-pale-color = @block
{
    error-pale-color: var( --error-pale-color );
}

$error-contrast-color = @block
{
    error-contrast-color: var( --error-contrast-color );
}

$tiny-button-border-radius = @block
{
    tiny-button-border-radius: var( --tiny-button-border-radius );
}

$small-button-border-radius = @block
{
    small-button-border-radius: var( --small-button-border-radius );
}

$button-border-radius = @block
{
    button-border-radius: var( --button-border-radius );
}

$large-button-border-radius = @block
{
    large-button-border-radius: var( --large-button-border-radius );
}

$big-button-border-radius = @block
{
    big-button-border-radius: var( --big-button-border-radius );
}

$huge-button-border-radius = @block
{
    huge-button-border-radius: var( --huge-button-border-radius );
}

$pill-button-border-radius = @block
{
    pill-button-border-radius: var( --pill-button-border-radius );
}

$tiny-button-padding = @block
{
    tiny-button-padding: var( --tiny-button-padding );
}

$small-button-padding = @block
{
    small-button-padding: var( --small-button-padding );
}

$button-padding = @block
{
    button-padding: var( --button-padding );
}

$large-button-padding = @block
{
    large-button-padding: var( --large-button-padding );
}

$big-button-padding = @block
{
    big-button-padding: var( --big-button-padding );
}

$huge-button-padding = @block
{
    huge-button-padding: var( --huge-button-padding );
}

