// -- ELEMENTS

:root
{
    --primary-font-family: #{$primary-font-family};
    --secondary-font-family: #{$secondary-font-family};
    --tertiary-font-family: #{$tertiary-font-family};
    --mono-font-family: #{$mono-font-family};

    --base-color: #{$base-color};
    --base-color-100: #{$base-color-100};
    --base-color-200: #{$base-color-200};
    --base-color-300: #{$base-color-300};
    --base-color-400: #{$base-color-400};
    --base-color-600: #{$base-color-600};
    --base-color-700: #{$base-color-700};
    --base-color-800: #{$base-color-800};
    --base-color-900: #{$base-color-900};
    --base-contrast-color: #{$base-contrast-color};

    --neutral-color: #{$neutral-color};
    --neutral-color-100: #{$neutral-color-100};
    --neutral-color-200: #{$neutral-color-200};
    --neutral-color-300: #{$neutral-color-400};
    --neutral-color-400: #{$neutral-color-300};
    --neutral-color-600: #{$neutral-color-700};
    --neutral-color-700: #{$neutral-color-600};
    --neutral-color-800: #{$neutral-color-800};
    --neutral-color-900: #{$neutral-color-900};
    --neutral-contrast-color: #{$neutral-contrast-color};

    --primary-color: #{$primary-color};
    --primary-color-100: #{$primary-color-100};
    --primary-color-200: #{$primary-color-200};
    --primary-color-300: #{$primary-color-300};
    --primary-color-400: #{$primary-color-400};
    --primary-color-600: #{$primary-color-600};
    --primary-color-700: #{$primary-color-700};
    --primary-color-800: #{$primary-color-800};
    --primary-color-900: #{$primary-color-900};
    --primary-contrast-color: #{$primary-contrast-color};

    --secondary-color: #{$secondary-color};
    --secondary-color-100: #{$secondary-color-100};
    --secondary-color-200: #{$secondary-color-200};
    --secondary-color-300: #{$secondary-color-300};
    --secondary-color-400: #{$secondary-color-400};
    --secondary-color-600: #{$secondary-color-600};
    --secondary-color-700: #{$secondary-color-700};
    --secondary-color-800: #{$secondary-color-800};
    --secondary-color-900: #{$secondary-color-900};
    --secondary-contrast-color: #{$secondary-contrast-color};

    --tertiary-color: #{$tertiary-color};
    --tertiary-color-100: #{$tertiary-color-100};
    --tertiary-color-200: #{$tertiary-color-200};
    --tertiary-color-300: #{$tertiary-color-300};
    --tertiary-color-400: #{$tertiary-color-400};
    --tertiary-color-600: #{$tertiary-color-600};
    --tertiary-color-700: #{$tertiary-color-700};
    --tertiary-color-800: #{$tertiary-color-800};
    --tertiary-color-900: #{$tertiary-color-900};
    --tertiary-contrast-color: #{$tertiary-contrast-color};

    --accent-color: #{$accent-color};
    --accent-color-100: #{$accent-color-100};
    --accent-color-200: #{$accent-color-200};
    --accent-color-300: #{$accent-color-300};
    --accent-color-400: #{$accent-color-400};
    --accent-color-600: #{$accent-color-600};
    --accent-color-700: #{$accent-color-700};
    --accent-color-800: #{$accent-color-800};
    --accent-color-900: #{$accent-color-900};
    --accent-contrast-color: #{$accent-contrast-color};

    --info-color: #{$info-color};
    --info-color-100: #{$info-color-100};
    --info-color-200: #{$info-color-200};
    --info-color-300: #{$info-color-300};
    --info-color-400: #{$info-color-400};
    --info-color-600: #{$info-color-600};
    --info-color-700: #{$info-color-700};
    --info-color-800: #{$info-color-800};
    --info-color-900: #{$info-color-900};
    --info-contrast-color: #{$info-contrast-color};

    --success-color : #{$success-color};
    --success-color-100 : #{$success-color-100};
    --success-color-200 : #{$success-color-200};
    --success-color-300 : #{$success-color-300};
    --success-color-400 : #{$success-color-400};
    --success-color-600 : #{$success-color-600};
    --success-color-700 : #{$success-color-700};
    --success-color-800 : #{$success-color-800};
    --success-color-900 : #{$success-color-900};
    --success-contrast-color : #{$success-contrast-color};

    --warning-color: #{$warning-color};
    --warning-color-100: #{$warning-color-100};
    --warning-color-200: #{$warning-color-200};
    --warning-color-300: #{$warning-color-300};
    --warning-color-400: #{$warning-color-400};
    --warning-color-600: #{$warning-color-600};
    --warning-color-700: #{$warning-color-700};
    --warning-color-800: #{$warning-color-800};
    --warning-color-900: #{$warning-color-900};
    --warning-contrast-color: #{$warning-contrast-color};

    --error-color: #{$error-color};
    --error-color-100: #{$error-color-100};
    --error-color-200: #{$error-color-200};
    --error-color-300: #{$error-color-300};
    --error-color-400: #{$error-color-400};
    --error-color-600: #{$error-color-600};
    --error-color-700: #{$error-color-700};
    --error-color-800: #{$error-color-800};
    --error-color-900: #{$error-color-900};
    --error-contrast-color: #{$error-contrast-color};

    --tiny-button-border-radius: #{$tiny-button-border-radius};
    --small-button-border-radius: #{$small-button-border-radius};
    --button-border-radius: #{$button-border-radius};
    --large-button-border-radius: #{$large-button-border-radius};
    --big-button-border-radius: #{$big-button-border-radius};
    --huge-button-border-radius: #{$huge-button-border-radius};
    --pill-button-border-radius: #{$pill-button-border-radius};

    --tiny-button-padding: #{$tiny-button-padding};
    --small-button-padding: #{$small-button-padding};
    --button-padding: #{$button-padding};
    --large-button-padding: #{$large-button-padding};
    --big-button-padding: #{$big-button-padding};
    --huge-button-padding: #{$huge-button-padding};
}

html
{
    height: 100%;
    min-height: 100%;

    font-size: 1rem;

    @media ( min-width: 90em )
    {
        font-size: 1.1rem;
    }

    @media ( min-width: 100em )
    {
        font-size: 1.2rem;
    }

    @media ( min-width: 110em )
    {
        font-size: 1.3rem;
    }

    @media ( min-width: 120em )
    {
        font-size: 1.4rem;
    }
}

body
{
    height: 100%;
    min-height: 100%;

    background-color: $base-color;

    color: $base-contrast-color;
}

body,
button,
input,
textarea
{
    font-family: $primary-font-family;
}

button
{
    padding: 1rem;
    
    border-radius: 0.5rem;
    border: 1px solid $base-contrast-color;
}

sup
{
    position: relative;
    top: -0.7em;

    font-size: 0.5em;
    vertical-align: baseline;
}

table
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

table tr:first-child
{
    font-weight: 700;
    text-align: center;
}

td
{
    border: 1px solid $table-border-color;
    padding: 0.5rem;
}

a,
a:link,
a:visited
{
    display: inline-block;

    color: $link-color;
}

a:active,
a:hover
{
    color: $link-hover-color;
}

html,
body,
body *,
button,
input,
textarea
{
    scrollbar-width: thin;
    scrollbar-color: $scrollbar-color $scrollbar-background-color;
}

::-webkit-scrollbar
{
    height: $scrollbar-width;
    width: $scrollbar-width;
}

::-webkit-scrollbar-thumb
{
    background: $scrollbar-color;
}

::-webkit-scrollbar-thumb:hover
{
    background: $scrollbar-hover-color;
}

::-webkit-scrollbar-track
{
    background: $scrollbar-background-color;
}

// -- CLASSES

.is-hidden
{
    display: none !important;
}

.button
{
    cursor: pointer;
}

.link-button
{
    color: $link-color;

    cursor: pointer;
}

.link-button:hover
{
    color: $link-hover-color;
}

.paragraph
{
    min-height: 1em;
}

.paragraph + .paragraph
{
    margin-top: 0.8em;
}

.linebreak
{
    margin-bottom: 0.8em;
}

.title-1
{
    font-size: 2rem;
}

.title-2
{
    font-size: 1.75rem;
}

.title-3
{
    font-size: 1.5rem;
}

.title-4
{
    font-size: 1.25rem;
}

.dash-1
{
    margin-left: 1em;
}

.dash-2
{
    margin-left: 2em;
}

.dash-3
{
    margin-left: 3em;
}

.dash-4
{
    margin-left: 4em;
}

.dash-1::before,
.dash-2::before,
.dash-3::before,
.dash-4::before
{
    position: absolute;
    transform: translateX( -0.9em );

    content: "-";
}

.bullet-1
{
    margin-left: 1em;
}

.bullet-2
{
    margin-left: 2em;
}

.bullet-3
{
    margin-left: 3em;
}

.bullet-4
{
    margin-left: 4em;
}

.bullet-1::before,
.bullet-2::before,
.bullet-3::before,
.bullet-4::before
{
    position: absolute;
    transform: translateX( -0.9em );

    content: "\2022";
}
