// -- CONSTANTS

$PrimaryFontFamily: sans-serif;
$SecondaryFontFamily: sans-serif;
$TertiaryFontFamily: sans-serif;
$MonospaceFontFamily: monospace;

$BlackColor: #000000;
$WhiteColor: #FFFFFF;

$GrayColor: #808080;
$GrayDimColor: mix( $GrayColor, #000000, 60% );
$GrayDarkColor: mix( $GrayColor, #000000, 40% );
$GrayShadeColor: mix( $GrayColor, #000000, 20% );
$GrayTintColor: mix( $GrayColor, #FFFFFF, 20% );
$GrayLightColor: mix( $GrayColor, #FFFFFF, 40% );
$GrayPaleColor: mix( $GrayColor, #FFFFFF, 60% );

$GrayContrastColor: $BlackColor;
$GrayDimContrastColor: $WhiteColor;
$GrayDarkContrastColor: $WhiteColor;
$GrayShadeContrastColor: $WhiteColor;
$GrayTintContrastColor: $BlackColor;
$GrayLightContrastColor: $BlackColor;
$GrayPaleContrastColor: $BlackColor;

$RedColor: #FF0000;
$RedDimColor: mix( $RedColor, #000000, 60% );
$RedDarkColor: mix( $RedColor, #000000, 40% );
$RedShadeColor: mix( $RedColor, #000000, 20% );
$RedTintColor: mix( $RedColor, #FFFFFF, 20% );
$RedLightColor: mix( $RedColor, #FFFFFF, 40% );
$RedPaleColor: mix( $RedColor, #FFFFFF, 60% );

$RedContrastColor: $BlackColor;
$RedDimContrastColor: $WhiteColor;
$RedDarkContrastColor: $WhiteColor;
$RedShadeContrastColor: $WhiteColor;
$RedTintContrastColor: $BlackColor;
$RedLightContrastColor: $BlackColor;
$RedPaleContrastColor: $BlackColor;

$GreenColor: #00FF00;
$GreenDimColor: mix( $GreenColor, #000000, 60% );
$GreenDarkColor: mix( $GreenColor, #000000, 40% );
$GreenShadeColor: mix( $GreenColor, #000000, 20% );
$GreenTintColor: mix( $GreenColor, #FFFFFF, 20% );
$GreenLightColor: mix( $GreenColor, #FFFFFF, 40% );
$GreenPaleColor: mix( $GreenColor, #FFFFFF, 60% );

$GreenContrastColor: $BlackColor;
$GreenDimContrastColor: $WhiteColor;
$GreenDarkContrastColor: $WhiteColor;
$GreenShadeContrastColor: $WhiteColor;
$GreenTintContrastColor: $BlackColor;
$GreenLightContrastColor: $BlackColor;
$GreenPaleContrastColor: $BlackColor;

$BlueColor: #0000FF;
$BlueDimColor: mix( $BlueColor, #000000, 60% );
$BlueDarkColor: mix( $BlueColor, #000000, 40% );
$BlueShadeColor: mix( $BlueColor, #000000, 20% );
$BlueTintColor: mix( $BlueColor, #FFFFFF, 20% );
$BlueLightColor: mix( $BlueColor, #FFFFFF, 40% );
$BluePaleColor: mix( $BlueColor, #FFFFFF, 60% );

$BlueContrastColor: $BlackColor;
$BlueDimContrastColor: $WhiteColor;
$BlueDarkContrastColor: $WhiteColor;
$BlueShadeContrastColor: $WhiteColor;
$BlueTintContrastColor: $BlackColor;
$BlueLightContrastColor: $BlackColor;
$BluePaleContrastColor: $BlackColor;

$BaseColor: #FFFFFF;
$BaseDimColor: mix( $BaseColor, #000000, 60% );
$BaseDarkColor: mix( $BaseColor, #000000, 40% );
$BaseShadeColor: mix( $BaseColor, #000000, 20% );
$BaseTintColor: mix( $BaseColor, #FFFFFF, 20% );
$BaseLightColor: mix( $BaseColor, #FFFFFF, 40% );
$BasePaleColor: mix( $BaseColor, #FFFFFF, 60% );

$BaseContrastColor: $BlackColor;
$BaseDimContrastColor: $WhiteColor;
$BaseDarkContrastColor: $WhiteColor;
$BaseShadeContrastColor: $WhiteColor;
$BaseTintContrastColor: $BlackColor;
$BaseLightContrastColor: $BlackColor;
$BasePaleContrastColor: $BlackColor;

$NeutralColor: #808080;
$NeutralDimColor: mix( $NeutralColor, #000000, 60% );
$NeutralShadeColor: mix( $NeutralColor, #000000, 40% );
$NeutralDarkColor: mix( $NeutralColor, #000000, 20% );
$NeutralLightColor: mix( $NeutralColor, #FFFFFF, 20% );
$NeutralTintColor: mix( $NeutralColor, #FFFFFF, 40% );
$NeutralPaleColor: mix( $NeutralColor, #FFFFFF, 60% );

$NeutralContrastColor: $BlackColor;
$NeutralDimContrastColor: $WhiteColor;
$NeutralDarkContrastColor: $WhiteColor;
$NeutralShadeContrastColor: $WhiteColor;
$NeutralTintContrastColor: $BlackColor;
$NeutralLightContrastColor: $BlackColor;
$NeutralPaleContrastColor: $BlackColor;

$PrimaryColor: #2AB4E7;
$PrimaryDimColor: mix( $PrimaryColor, #000000, 60% );
$PrimaryDarkColor: mix( $PrimaryColor, #000000, 40% );
$PrimaryShadeColor: mix( $PrimaryColor, #000000, 20% );
$PrimaryTintColor: mix( $PrimaryColor, #FFFFFF, 20% );
$PrimaryLightColor: mix( $PrimaryColor, #FFFFFF, 40% );
$PrimaryPaleColor: mix( $PrimaryColor, #FFFFFF, 60% );

$PrimaryContrastColor: $BlackColor;
$PrimaryDimContrastColor: $WhiteColor;
$PrimaryDarkContrastColor: $WhiteColor;
$PrimaryShadeContrastColor: $WhiteColor;
$PrimaryTintContrastColor: $BlackColor;
$PrimaryLightContrastColor: $BlackColor;
$PrimaryPaleContrastColor: $BlackColor;

$SecondaryColor: #2AB4E7;
$SecondayDimColor: mix( $SecondaryColor, #000000, 60% );
$SecondayDarkColor: mix( $SecondaryColor, #000000, 40% );
$SecondayShadeColor: mix( $SecondaryColor, #000000, 20% );
$SecondayTintColor: mix( $SecondaryColor, #FFFFFF, 20% );
$SecondayLightColor: mix( $SecondaryColor, #FFFFFF, 40% );
$SecondayPaleColor: mix( $SecondaryColor, #FFFFFF, 60% );

$SecondayContrastColor: $BlackColor;
$SecondayDimContrastColor: $WhiteColor;
$SecondayDarkContrastColor: $WhiteColor;
$SecondayShadeContrastColor: $WhiteColor;
$SecondayTintContrastColor: $BlackColor;
$SecondayLightContrastColor: $BlackColor;
$SecondayPaleContrastColor: $BlackColor;

$TertiaryColor: #2AB4E7;
$TertiaryDimColor: mix( $TertiaryColor, #000000, 60% );
$TertiaryDarkColor: mix( $TertiaryColor, #000000, 40% );
$TertiaryShadeColor: mix( $TertiaryColor, #000000, 20% );
$TertiaryTintColor: mix( $TertiaryColor, #FFFFFF, 20% );
$TertiaryLightColor: mix( $TertiaryColor, #FFFFFF, 40% );
$TertiaryPaleColor: mix( $TertiaryColor, #FFFFFF, 60% );

$TertiaryContrastColor: $BlackColor;
$TertiaryDimContrastColor: $WhiteColor;
$TertiaryDarkContrastColor: $WhiteColor;
$TertiaryShadeContrastColor: $WhiteColor;
$TertiaryTintContrastColor: $BlackColor;
$TertiaryLightContrastColor: $BlackColor;
$TertiaryPaleContrastColor: $BlackColor;

$AccentColor: #2AB4E7;
$AccentDimColor: mix( $AccentColor, #000000, 60% );
$AccentDarkColor: mix( $AccentColor, #000000, 40% );
$AccentShadeColor: mix( $AccentColor, #000000, 20% );
$AccentTintColor: mix( $AccentColor, #FFFFFF, 20% );
$AccentLightColor: mix( $AccentColor, #FFFFFF, 40% );
$AccentPaleColor: mix( $AccentColor, #FFFFFF, 60% );

$AccentContrastColor: $BlackColor;
$AccentDimContrastColor: $WhiteColor;
$AccentDarkContrastColor: $WhiteColor;
$AccentShadeContrastColor: $WhiteColor;
$AccentTintContrastColor: $BlackColor;
$AccentLightContrastColor: $BlackColor;
$AccentPaleContrastColor: $BlackColor;

$InfoColor: #3ABFF8;
$InfoDimColor: mix( $InfoColor, #000000, 60% );
$InfoDarkColor: mix( $InfoColor, #000000, 40% );
$InfoShadeColor: mix( $InfoColor, #000000, 20% );
$InfoTintColor: mix( $InfoColor, #FFFFFF, 20% );
$InfoLightColor: mix( $InfoColor, #FFFFFF, 40% );
$InfoPaleColor: mix( $InfoColor, #FFFFFF, 60% );

$InfoContrastColor: $BlackColor;
$InfoDimContrastColor: $WhiteColor;
$InfoDarkContrastColor: $WhiteColor;
$InfoShadeContrastColor: $WhiteColor;
$InfoTintContrastColor: $BlackColor;
$InfoLightContrastColor: $BlackColor;
$InfoPaleContrastColor: $BlackColor;

$SuccessColor: #36D399;
$SuccessDimColor: mix( $SuccessColor, #000000, 60% );
$SuccessDarkColor: mix( $SuccessColor, #000000, 40% );
$SuccessShadeColor: mix( $SuccessColor, #000000, 20% );
$SuccessTintColor: mix( $SuccessColor, #FFFFFF, 20% );
$SuccessLightColor: mix( $SuccessColor, #FFFFFF, 40% );
$SuccessPaleColor: mix( $SuccessColor, #FFFFFF, 60% );

$SuccessContrastColor: $BlackColor;
$SuccessDimContrastColor: $WhiteColor;
$SuccessDarkContrastColor: $WhiteColor;
$SuccessShadeContrastColor: $WhiteColor;
$SuccessTintContrastColor: $BlackColor;
$SuccessLightContrastColor: $BlackColor;
$SuccessPaleContrastColor: $BlackColor;

$WarningColor: #FBBD23;
$WarningDimColor: mix( $WarningColor, #000000, 60% );
$WarningDarkColor: mix( $WarningColor, #000000, 40% );
$WarningShadeColor: mix( $WarningColor, #000000, 20% );
$WarningTintColor: mix( $WarningColor, #FFFFFF, 20% );
$WarningLightColor: mix( $WarningColor, #FFFFFF, 40% );
$WarningPaleColor: mix( $WarningColor, #FFFFFF, 60% );

$WarningContrastColor: $BlackColor;
$WarningDimContrastColor: $WhiteColor;
$WarningDarkContrastColor: $WhiteColor;
$WarningShadeContrastColor: $WhiteColor;
$WarningTintContrastColor: $BlackColor;
$WarningLightContrastColor: $BlackColor;
$WarningPaleContrastColor: $BlackColor;

$ErrorColor: #F87272;
$ErrorDimColor: mix( $ErrorColor, #000000, 60% );
$ErrorDarkColor: mix( $ErrorColor, #000000, 40% );
$ErrorShadeColor: mix( $ErrorColor, #000000, 20% );
$ErrorTintColor: mix( $ErrorColor, #FFFFFF, 20% );
$ErrorLightColor: mix( $ErrorColor, #FFFFFF, 40% );
$ErrorPaleColor: mix( $ErrorColor, #FFFFFF, 60% );

$ErrorContrastColor: $BlackColor;
$ErrorDimContrastColor: $WhiteColor;
$ErrorDarkContrastColor: $WhiteColor;
$ErrorShadeContrastColor: $WhiteColor;
$ErrorTintContrastColor: $BlackColor;
$ErrorLightContrastColor: $BlackColor;
$ErrorPaleContrastColor: $BlackColor;

$LinkColor: #86B4F0;
$LinkHoverColor: #A2C2EC;
$TableBorderColor: #888888;

$ScrollbarWidth: 0.4rem;
$ScrollbarColor: rgba( 255, 255, 255, 0.3 );
$ScrollbarHoverColor: rgba( 255, 255, 255, 0.2 );
$ScrollbarBackgroundColor: rgba( 0, 0, 0, 0.1 );

$TinyButtonFontSize: 1rem;
$SmallButtonFontSize: 1rem;
$ButtonFontSize: 1rem;
$LargeButtonFontSize: 1rem;
$BigButtonFontSize: 1rem;
$HugeButtonFontSize: 1rem;

$TinyButtonBorderRadius: 0.5rem;
$SmallButtonBorderRadius: 0.5rem;
$ButtonBorderRadius: 0.5rem;
$LargeButtonBorderRadius: 0.5rem;
$BigButtonBorderRadius: 0.5rem;
$HugeButtonBorderRadius: 0.5rem;
$PillButtonBorderRadius: 100vmax;

$TinyButtonPadding: 0.125rem 0.25rem;
$SmallButtonPadding: 0.25rem 0.5rem;
$ButtonPadding: 0.5rem 1rem;
$LargeButtonPadding: 1rem 2rem;
$BigButtonPadding: 1.5rem 3rem;
$HugeButtonPadding: 2rem 4rem;
